@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@layer base {
  body {
    @apply bg-obsidian text-slate-100;
    background-color: #05070A;
    margin: 0;
    padding: 0;
  }
}

.glass {
  @apply bg-white/5 backdrop-blur-xl border border-white/10;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-violet-vibrant to-cyan-vibrant;
}
